<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <title>GPU登记系统</title> -->
  </head>
  <body>
    <script src="/static/js/react.production.min.js" charset="utf-8"></script>
    <script src="/static/js/react-dom.production.min.js" charset="utf-8"></script>
    <script src="/static/js/material-ui.production.min.js" charset="utf-8"></script>
    <script src="/static/js/babel.min.js" charset="utf-8"></script>
    <!-- <script src="https://unpkg.com/react@latest/umd/react.development.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react-dom@latest/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@material-ui/core@latest/umd/material-ui.development.js" crossorigin="anonymous"></script> -->
    <!-- <script src="https://unpkg.com/babel-standalone@latest/babel.min.js" crossorigin="anonymous"></script> -->
    <script src="/static/js/base64.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/icon.css" />
    <div id='container'>

    </div>

    <script src="/static/js/index.js" type="text/babel" charset="utf-8"></script>
  </body>
</html>
