<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <title>GPU登记系统</title> -->
    <!-- <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"> -->
  </head>
  <body>
    <script src="/static/js/react.production.min.js" charset="utf-8"></script>
    <script src="/static/js/react-dom.production.min.js" charset="utf-8"></script>
    <script src="/static/js/material-ui.production.min.js" charset="utf-8"></script>
    <script src="/static/js/babel.min.js" charset="utf-8"></script>
    <script src="/static/js/base64.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/static/css/fonts.css" />
    <link rel="stylesheet" href="/static/css/icon.css" />
    <div id='container'>

    </div>

    <script src="/static/js/manage.js" type="text/babel" charset="utf-8"></script>
  </body>
</html>
